/* GLOBAL styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: rgb(128, 128, 128);
    line-height: 25px;
}

.container {
    width: 100%;
    max-width: 1900px;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2rem;
}

h3 {
    color: rgb(239, 78, 148);
    font-size: 1.7rem;
}

/*p {
    line-height: 25px;
}*/

p strong {
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(173, 173, 173);
}

span {
    color: rgb(239, 78, 148);
}



/* HEADER styles */
header {
    background-image: url(../images/bride.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    padding: 4% 2%;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    flex-basis: 50%;
    margin: 0;
    font-weight: 100;
    font-size: 2.2rem;
}

header h2 {
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 0;
}

header h1 a {
    color: white;
}

header .quote {
    flex-grow: 1;
    text-align: center;
    margin-top: -95px;
}

header .quote p {
    margin: 1%;
}

/* NAV styles */
nav {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

nav input {
    display: none; 
}

nav .menu  {
    display: none;
}

nav a:hover {
    color: white;
}

@media screen and (min-width: 990px) {
    header {
        padding: 2% 6%;
    }

    header h2 {
        font-size: 4.5rem;
        margin-bottom: 3%;
    }

    nav .menu {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: flex-end;
    }

    nav label {
        display: none;
    }

    nav .menu li {
        margin-right: 3%;
    }
}



/* MAIN styles */
main {
    text-align: center;
}

main h2 {
    color: rgb(239, 78, 148);
}

.groom-bride {
    margin-top: 4%;
}

.groom-bride .heart-icon {
    display: none;
}

.groom img, 
.bride img {
    height: 110px;
    border-radius: 75px;
}

.groom {
    padding: 10% 2% 6%;
}

.bride {
    padding: 0 2% 6%;
}

@media screen and (min-width: 768px) {
    .groom {
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        align-items: center;
        padding: 10% 2% 0%;
    }

    .groom .groom-info,
    .bride .bride-info {
        margin: 0 3%;
    }

    .bride {
        display: flex;
        align-items: center;
        text-align: left;
    }
}

@media screen and (min-width: 990px) {
    .groom-bride {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .groom-bride h2,
    .groom-bride p {
        flex-basis: 100%;
    }

    .groom {
        flex-basis: 50%;
        padding: 2% 0 6% 7%;
    }

    .bride {
        flex-basis: 50%;
        padding: 2% 7% 6% 0;
    }

    .groom-bride .heart-icon {
        color: rgb(239, 78, 148);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        position: absolute;
        top: 59%;
        right: 50%;
        transform: translate(50%);
        background-color: white;
        border-radius: 50%;
    }

}



/* FORM-CONTACT styles */
.form-contact {
    background-image: url(../images/img_bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 14% 10%;
    text-align: center;
    overflow: hidden;
}

.form-contact h2 {
    color: white;
    margin-bottom: 0;
} 

.form-contact p {
    color: rgb(207, 207, 207);
}



/* FORM styles */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input,
form button {
    margin-bottom: 2%;
    padding: 3%;
    border-radius: 2px;
    border: none;
    background-color: rgba(152, 146, 146, 0.5);
    color: white;
}

form button {
    border-radius: 20px;
    background-color: rgb(239, 78, 148);
    color: white;
    cursor: pointer;
}

form button:hover {
    color: rgb(239, 78, 148);
    background-color: white;
    box-shadow: 2px 2px 2px rgba(241, 80, 150, 0.73);
}

/* This is to change the color of the placeholder */
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff75;
}

@media screen and (min-width: 990px) {
    form {
        flex-direction: row;
    }

    form input, form button {
        padding: 2% 3%;
        margin: 0 2%;
    }

    form button {
        padding: 0 7%;
    }
}



/* CONTACT-INFO styles */
.contact-info {
    text-align: left;
    padding: 0% 2% 6%;
}

.contact-info > div {
    display: flex;
    align-items: center;
    margin: 5% 0;
}

.contact-info img {
    margin-right: 3%;
}
.contact-info span a {
    color: rgb(239, 78, 148);
}

@media screen and (min-width: 990px) {
    .contact-info {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info p {
        flex-basis: 100%;
        text-align: center;
    }

    .contact-info div p {
        text-align: left;
    }

    .contact-info > div {
        margin: 3% 0;
        flex-basis: 33%;
        justify-content: center;
    }
}



/* GOOGLE MAPS styles */
/* I didn't create these styles I just searched online how to do it and copied the code. I only modified the widths and heights. */
.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 300px;
    width: 100%;
}

iframe {
    width: 100%;
    height: 300px;
}



/* FOOTER styles */
footer {
    text-align: center;
    padding: 13% 2%;
}

footer p {
    margin-top: -15px;
}

footer a {
    margin: 0 2%;
    display: inline-block;
}

footer img,
.contact-info img {
    width: 24px;
    height: 26px;
}

footer button {
    color: white;
    background-color: rgba(65, 65, 65, 0.75);
    border: none;
    padding: 2%;
    border-radius: 2px;
    position: fixed;
    bottom: 8px;
    right: 10px;
}

@media screen and (min-width: 768px) {
    footer button {
        display: none;
    }
}

@media screen and (min-width: 990px) {
    footer {
        padding: 8% 2%;
    }
}
